/*基础结构样式*/

// 批量设置 margin padding fontSize
@for $i from 0 through 150 {
  .choco-table{
    .mb-#{$i} { margin-bottom: 1px * $i !important; }
    .mt-#{$i} { margin-top: 1px * $i !important; }
    .ml-#{$i} { margin-left: 1px * $i !important; }
    .mr-#{$i} { margin-right: 1px * $i !important; }
    .pb-#{$i} { padding-bottom: 1px * $i !important; }
    .pt-#{$i} { padding-top: 1px * $i !important; }
    .pl-#{$i} { padding-left: 1px * $i !important; }
    .pr-#{$i} { padding-right: 1px * $i !important; }

    .mb--#{$i} { margin-bottom: -1px * $i !important; }
    .mt--#{$i} { margin-top: -1px * $i !important; }
    .ml--#{$i} { margin-left: -1px * $i !important; }
    .mr--#{$i} { margin-right: -1px * $i !important; }
    .pb--#{$i} { padding-bottom: -1px * $i !important; }
    .pt--#{$i} { padding-top: -1px * $i !important; }
    .pl--#{$i} { padding-left: -1px * $i !important; }
    .pr--#{$i} { padding-right: -1px * $i !important; }

    .w-#{$i} { width: 1px * $i !important; }
    .h-#{$i} { height: 1px * $i !important; }
    .w--#{$i} { width: 1% * $i !important; }
    .h--#{$i} { height: 1% * $i !important; }
    .lh-#{$i} { line-height: 1px * $i !important; }

    .fs-#{$i} {font-size: 1px * $i !important;}

    .br-#{$i} {border-radius: 1px * $i !important;}
  }
}


/* 响应式页面布局
-------------------------- */
@include respond-to('mg'){
  .choco-table{
    @for $i from 5 through 24 {
      @for $j from $i through 24{
        @if($i != $j){
          --gutter_#{$i*2}-#{$j*2}: #{$j*2 * 1px};
        }
      }
    }
    --gutter_1-2: 2px; // 用于差距为1的计算
    --gutter_13-14: calc(var(--gutter_1-2) + 12px); // 用于字体
  }
}

.choco-table{
  @for $i from 5 through 24 {
    @for $j from $i through 24{
      @if($i != $j){
        --gutter_#{$i*2}-#{$j*2}: #{$i*2 * 1px};
      }
    }
  }
  --gutter_1-2: 1px; // 用于差距为1的计算
  --gutter_13-14: calc(var(--gutter_1-2) + 12px); // 用于字体

  --backdrop-filter: blur(1.8px) brightness(0.9) saturate(0.92);

  /* svg图标
-------------------------- */
  .svg-wrap{
    color: $color-text-secondary;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: color .3s var(--color-transition-base), width .3s var(--color-transition-base),height .3s var(--color-transition-base);

    &.danger{
      &:hover{
        color: $color-danger;
      }
    }
  }

  // 清除浮动
  .clearfix {
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
  }

  // 文字溢出隐藏
  .over-hide{
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* color 文字颜色
  -------------------------- */
  .color{
    &-primary{
      color: $color-text-primary;
    }
    &-regular{
      color: $color-text-regular;
    }
    &-secondary{
      color: $color-text-secondary;
    }
    &-danger{
      color: $color-danger;
    }
    &-warning{
      color: $color-warning;
    }
    &-success{
      color: $color-success;
    }
    &-white{
      color: white;
    }
    &-blue{
      color: $color-primary;
    }
  }
}




