// nav导航样式
.rigel-breadcrumb{
  display: inline-block;
  float: left;
  height: 100%;
  &.nav {
    margin-left: 16px;

    .nav-crumb{
      font-size: 12px;
      line-height: 36px;

      .nav-item{
        cursor: pointer;
        .active-nav{
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
  }
}


