@mixin btn-type{
  border-radius: 4px;
  min-width: 80px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  position: relative;
  letter-spacing: .8px;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  font-weight: 300;

  &:not([disabled]),&:not(.loading){
    cursor: pointer;
  }
  &:last-child{
    margin-right: 0;
  }

  &+.btn{
    margin-left: 20px;
  }
  &[disabled]{
    cursor: not-allowed;  }
}

@mixin cancel-type{
  box-shadow: rgb(9 111 250) 0px 0px 0px 1px inset;
  background: #fff;
  color: $color-primary;
  &:hover{
    box-shadow: rgb(133 181 248) 0px 0px 0px 1px inset;
    background: #fff;
    color: $light-blue;
  }
}

@mixin confirm-type{
  box-shadow: transparent 0px 0px 0px 1px inset;
  background: $color-primary;
  color: #fff;
  &:hover,&.loading{
    background: $light-blue;
  }
}

@mixin loading-type{
  cursor: not-allowed;
  padding-left: .2rem;

  &:before{
    content: '';
    display: block;
    position: absolute;
    left: .16rem;
    top: calc(50% - .08rem);
    width: .16rem;
    height: .16rem;
    background-image: url("~@/assets/images/loading-circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: spin 1.3s infinite;
    transform-origin: center;
  }
  >span{
    margin-left: .16rem;
    transition: margin-left .3s cubic-bezier(.645,.045,.355,1);
  }
}

.leave-footer{
  display: flex;
  justify-content: flex-end;
  background: $bg-white-1;
  backdrop-filter: var(--backdrop-filter);
  padding: 24px 0;
  width: 100%;
  &.white{
    background: $color-white;
  }
  .wrap{
    width: 60%;
    min-width: 500px;
    margin: 0 auto;
  }
  &.fix-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 8%);
    z-index: 2022;
    padding: 10px 5px 10px 0
  }
  .btn{
    @include btn-type;

    &.cancel{
     @include cancel-type
    }
    &.confirm{
      @include confirm-type
    }
    &.loading{
     @include loading-type
    }
  }
}

.leave-dialog{
  border-radius: .18rem;
  padding: 0 .20rem;

  .leave-dialog-footer{
    display: flex;
    justify-content: center;
    .btn{
      @include btn-type;

      &.cancel{
        @include cancel-type
      }
      &.confirm{
        @include confirm-type
      }
      &.loading{
        @include loading-type
      }
    }
  }
}
