#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $hideSideBarWidth; // 不根据sidebar收缩内容
    position: relative;
    background-color: $bg-white-1;
  }

  .sidebar-container {
    transition-delay: unset;
    width: $hideSideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2001;
    overflow: hidden;
    padding-top: var(--gutter_42-48);
    backdrop-filter: saturate(180%) blur(5px);
    transition: background-color .5s cubic-bezier(.28,.11,.32,1),width 0.28s cubic-bezier(0.08,0.82,0.17,1);
    &:after{
      left: calc( 100% - 1px );
      top: 0;
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      z-index: 1;
      background-color: rgba(0,0,0,.16);
    }

    &:hover{
      width: $sideBarWidth !important;
      .menu-el_title{
        display: inline-block;
      }
    }

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
      font-size: 24px;
      margin-bottom: -4px;
      color: inherit;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
    .menu-el_title{
      display: none;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      .el-menu-item{
        padding-left: 20px;
        &.is-active{
          background-color: $menuActiveBg !important;
          &:before{
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            content: '';
            width: 4px;
            height: 100%;
            background: #6C63FF;
            border-radius: 0px 0px 0px 0px;
            opacity: 1;
          }
        }
      }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
        color: $menuHoverText !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;

    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {

    .main-container {
      margin-left: $hideSideBarWidth;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
