/*基础结构样式*/

// 批量设置 margin padding fontSize

/*
公用样式！！作用于全局
批量设置 margin padding fontSize !important
_开头表示百分比形式
-接数字 -1表示 1； --1表示负一
*/

:root{

  @for $i from 0 through 250 {
    .m-#{$i} { margin: 1px * $i !important; }
    .mb-#{$i} { margin-bottom: 1px * $i !important; }
    .mt-#{$i} { margin-top: 1px * $i !important; }
    .ml-#{$i} { margin-left: 1px * $i !important; }
    .mr-#{$i} { margin-right: 1px * $i !important; }

    .p-#{$i} { padding: 1px * $i !important; }
    .pb-#{$i} { padding-bottom: 1px * $i !important; }
    .pt-#{$i} { padding-top: 1px * $i !important; }
    .pl-#{$i} { padding-left: 1px * $i !important; }
    .pr-#{$i} { padding-right: 1px * $i !important; }

    .mb--#{$i} { margin-bottom: -1px * $i !important; }
    .mt--#{$i} { margin-top: -1px * $i !important; }
    .ml--#{$i} { margin-left: -1px * $i !important; }
    .mr--#{$i} { margin-right: -1px * $i !important; }

    .pb--#{$i} { padding-bottom: -1px * $i !important; }
    .pt--#{$i} { padding-top: -1px * $i !important; }
    .pl--#{$i} { padding-left: -1px * $i !important; }
    .pr--#{$i} { padding-right: -1px * $i !important; }

    .w-#{$i} { width: 1px * $i !important; }
    ._w-#{$i} { width: 1% * $i !important; }

    .h-#{$i} { height: 1px * $i !important; }
    ._h-#{$i} { height: 1% * $i !important; }

    .lh-#{$i} { line-height: 1px * $i !important; }
    ._lh-#{$i} { line-height: 1% * $i !important; }

    .fs-#{$i} {font-size: 1px * $i !important;}

    .br-#{$i} {border-radius: 1px * $i !important;}
  }

  // 清除浮动
  .clearfix {
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
  }

  // 文字溢出隐藏
  .over-hide{
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /*flex布局*/
  .flex{
    display: flex !important;
    align-items: center;
    &.j{
      &-center{
        justify-content: center !important;
      }
      &-start{
        justify-content: start !important;
      }
      &-end{
        justify-content: end !important;
      }
      &-between{
        justify-content: space-between !important;
      }
    }
    &.a{
      &-center{
        align-items: center !important;
      }
      &-start{
        align-items: start !important;
      }
      &-end{
        align-items: end !important;
      }
    }
    &.column{
      flex-direction: column !important;
    }
    &-1{
      flex: 1 !important;
    }
  }


  /*浮动*/
  .f{
    &-left{
      float: left !important;
    }
    &-right{
      float: right !important;
    }
  }

  /* font 文字样式
  -------------------------- */
  .t{
    &-center {
      text-align: center !important;
    }
    &-left {
      text-align: left !important;
    }
    &-right {
      text-align: right !important;
    }
  }

  // font-weight
  .fw{
    &-normal{
      font-weight: normal !important;
    }
    &-lighter{
      font-weight: lighter !important;
    }
    &-bold{
      font-weight: bold !important;
    }
  }

  // display
  .dis{
    &-inline{
      display: inline !important;
    }
    &-inline-block{
      display: inline-block !important;
    }
    &-block{
      display: block !important;
    }
  }

  // position
  .pos{
    &-relative{
      position: relative !important;
    }
    &-absolute{
      position: absolute !important;
    }
    &-fixed{
      position: fixed !important;
    }
  }

  .cur{
    &-pointer{
      cursor: pointer;
    }
    &-default{
      cursor: default;
    }
  }
}


/*  非公共样式!!!
    响应式页面布局
-------------------------- */
@include respond-to('mg'){
  .choco-table{
    @for $i from 5 through 24 {
      @for $j from $i through 24{
        @if($i != $j){
          --gutter_#{$i*2}-#{$j*2}: #{$j*2 * 1px};
        }
      }
    }
    --gutter_1-2: 2px; // 用于差距为1的计算
    --gutter_13-14: calc(var(--gutter_1-2) + 12px); // 用于字体
  }
}

.choco-table{
  @for $i from 5 through 24 {
    @for $j from $i through 24{
      @if($i != $j){
        --gutter_#{$i*2}-#{$j*2}: #{$i*2 * 1px};
      }
    }
  }
  --gutter_1-2: 1px; // 用于差距为1的计算
  --gutter_13-14: calc(var(--gutter_1-2) + 12px); // 用于字体

  --backdrop-filter: blur(1.8px) brightness(0.9) saturate(0.92);

  /* svg图标
-------------------------- */
  .svg-wrap{
    color: $color-text-secondary;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: color .3s var(--color-transition-base), width .3s var(--color-transition-base),height .3s var(--color-transition-base);

    &.danger{
      &:hover{
        color: $color-danger;
      }
    }
  }

  /* color 文字颜色
  -------------------------- */
  .color{
    &-deep{
      color: $color-text-deep !important;
    }
    &-primary{
      color: $color-text-primary !important;
    }
    &-regular{
      color: $color-text-regular !important;
    }
    &-secondary{
      color: $color-text-secondary !important;
    }
    &-danger{
      color: $color-danger !important;
    }
    &-warning{
      color: $color-warning !important;
    }
    &-success{
      color: $color-success !important;
    }
    &-white{
      color: white !important;
    }
    &-blue{
      color: $color-primary !important;
    }
  }

}




