// global transition css
:root{
  --ease-in-out: #{$ease-in-out}; // 默认前后缓动
  --ease-in-out-back: #{$ease-in-out-back}; // 前后回动
  --ease-in-out-circ: #{$ease-in-out-circ}; // 圆形前后缓动
  --ease-in-out-quint: #{$ease-in-out-quint};	// quint 前后缓动
  --border-transition-base: #{$border-transition-base}; // 适用于边框缓动
  --color-transition-base: #{$color-transition-base}; // 适用于颜色渐变
  --expand-transition-base: cubic-bezier(0.08,0.82,0.17,1); // 适用于展开
}

