/* Color
-------------------------- */

$color-white: #FFFFFF;
$color-white-1: #FAFCFF;
$color-white-2: #EBEEF5;
$color-white-3: #F0F3FA;
$color-white-4: #D0D3D9;
$color-white-5: #F5F7FA;
$color-white-6: #E5E5E5;
$color-white-7: #E1E4EB;

$color-black: #000000 !default;
$color-primary: #6C63FF !default;

$color-primary-light-08: mix( $color-primary,$color-white, 8%) !default; /*  #6C63FF 8% */
$color-primary-light-1: mix( $color-primary,$color-white, 10%) !default; /* 53a8ff */
$color-primary-light-2: mix( $color-primary,$color-white, 20%) !default; /* 66b1ff */
$color-primary-light-3: mix( $color-primary,$color-white, 30%) !default; /* 79bbff */
$color-primary-light-4: mix( $color-primary,$color-white, 40%) !default; /* 8cc5ff */
$color-primary-light-5: mix( $color-primary,$color-white, 50%) !default; /* a0cfff */
$color-primary-light-6: mix( $color-primary,$color-white, 60%) !default; /* b3d8ff */
$color-primary-light-7: mix( $color-primary,$color-white, 70%) !default; /* c6e2ff */
$color-primary-light-75: mix( $color-primary,$color-white, 75%) !default; /*  #6C63FF 75% */
$color-primary-light-8: mix( $color-primary,$color-white, 80%) !default; /* d9ecff */
$color-primary-light-9: mix( $color-primary,$color-white, 90%) !default; /* ecf5ff */

$color-primary-dark-1: mix($color-primary,$color-black, 10%) !default;
$color-primary-dark-2: mix($color-primary, $color-black, 20%) !default;
$color-primary-dark-7: mix($color-primary, $color-black, 70%) !default;
$color-primary-dark-8: mix($color-primary, $color-black, 80%) !default;

$lightest-blue: $color-primary-light-08; // #6C63FF 8%
$lighter-blue: $color-primary-light-75;
$light-blue: $color-primary-light-9; // #6C63FF 90%

// 字体
$color-text-deep: #212121 !default;
$color-text-primary: #303133 !default;
$color-text-regular: #606266 !default;
$color-text-secondary: #909399 !default;
$color-text-placeholder: #C0C4CC !default;

$color-success: #88CC00 !default;
$color-warning: #FF9933 !default;
$color-danger: #FF5533 !default;
$color-info: #909399 !default;

/*-------------------------- */

$bg-white-1: $color-white-5; /*F5F7FA*/
$bg-white-2: $color-white-1; /*FAFCFF*/
$border-white-1: $color-white-3; /*F0F3FA*/
$border-white-2: $color-white-2; /*EBEEF5*/
$border-white-3: $color-white-7; /*E1E4EB*/

$ease-in-out: cubic-bezier(0.645,0.045,0.355,1); // 默认前后缓动
$ease-in-out-back:cubic-bezier(0.68,-0.55,0.27,1.55); // 前后回动
$ease-in-out-circ:cubic-bezier(0.78,0.14,0.15,0.86); // 圆形前后缓动
$ease-in-out-quint:cubic-bezier(0.86, 0, 0.07, 1);	// quint 前后缓动
$border-transition-base: cubic-bezier(0.3, 0, 0.5, 1); // 适用于边框缓动
$color-transition-base:cubic-bezier(.645, .045, .355, 1); // 适用于颜色渐变

